@charset "utf-8";
/*css document*/
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,fieldset,figure,hr,img,input{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
body{
	font-family: "微软雅黑",Arial;
	background-color: #efeeeb;
}
ol,ul{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
/*---------header-------*/
header{
	width: 100%;
	height: 66px;
	background-color: #282828;
	margin: 0 auto;
}
.logo{
	height: 66px;
	margin-left: 37px;
	margin-right: 180px;
}
header a{
	display: block;
	color: white;
	font-size: 16px;
	width: 80px;
	line-height: 66px;
	text-align: center;
	float:left;
}
.person{
	padding-left: 80px;
	padding-right: 10px;
}
.shopcar{
	width: 120px;
	background-color: #f25c4a;
}
/*indexbg*/

.lidexbg img{
	width: 100%;
}

/*section*/

.section a{
	display: block;
	width: 415px;
	height: 294px;
	margin: 3px;
	margin-bottom: 70px;
	float: left;
	text-align: center;
	position: relative;
	line-height: 294px;
}
.section li{
	display: inline-block;
	font-size: 24px;
	width: 332px;
	line-height: 30px;
	text-align: center;
	height: 30px;
	color: #ffffff;
}

/*section-two*/
.section-two{
	padding-left: 55px;
	overflow: hidden;
	padding-bottom: 85px;
}
.ul1{
	float: left;
}
.ul1 h4{
	font-size: 16px;
	line-height: 56px;
}
.ul1 li{
	width: 196px;
}
.ul1 li{
	color: #606463;
	line-height: 22px;
	font-size: 10px;
}
.ul1 a{
	color: #606463;
	line-height: 22px;
	font-size: 10px;
}

/*footer*/
footer{
    padding-top: 25px;
    background-color: white;
    text-align: center;
}
.logo2 img{
    padding-bottom: 14px;;
}
.smallLogo a {
  padding: 8px; }
.content{
    margin-top: 20px;
}
.content p {
  font-size: 12px;
  color: #555555;
  line-height: 30px;
  height: 30px; }
.content a{
    color: #e95f46;
}
